body {
    margin: 0;
  }
  .nav {
    display: flex;
    padding: 15px;
    align-items: center;
    background : white;
  }
  .nav a {
    margin-right: 10px;
  }
  .logo {
    font-weight: bold;
  }

  .grey-bg {
    background: #eee;
  }
  .darkgrey-bg {
    background: rgb(50, 50, 50);
  }
  .white-bg {
    background: white;
    margin: 20px;
    border-radius: 5px;
  }
  .list-box {
    padding : 10px;
    border-bottom: 1px solid#eee;
  }
  .list-box h4{
    font-size: 16px;
    margin: 5px;
  }
  .list-box p {
    font-size: 13px;
    margin: 5px;
    color: grey;
  }
  input,div {
  box-sizing: border-box;
}
.form-box {
  background : white;
  padding : 25px;
  margin: 20px;
  border-radius: 8px;
}
.form-box input {
  padding : 10px;
  font-size: 16px;
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
}
.form-box button {
  padding: 10px;
  border : none;
  background : lightgrey;
  border-radius: 5px;
}

.detail-bg {
    background: white;
    padding: 15px;
    margin-top: 10px;
  }

a {
    text-decoration: none; /* 밑줄 제거 */
    color: inherit; /* 링크 색상을 기본 상속값으로 설정 */
}

.logo-container {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.search-box {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  width: 40%;
  outline: none;
  margin-right: 10px;
}

.search {
  margin-left: 20px;
  padding: 5px;
}
.search-send {
  padding: 6px 10px;
  background: lightgray;
  border: none;
  border-radius: 5px;
  vertical-align: middle;
}

.profile-icon {
  margin: 10px;
  height: 100px; 
  width: 100px;
  border-radius: 10px;
}